* {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.content {
    width: 95%;
    height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

span#red {
    background-color: red;
    color: white;
    padding: 2px;
    border-radius: 2px;
    font-size: 10px;
    margin: 5px;
    transition: 0.7s;
    cursor: pointer;
}

span#red:hover {
    background-color: rgb(136, 54, 213);
    transition: 0.7s;
}

p#title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
}

h1#title {
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    width: 100%;
    height: 10vh;
}

.button {
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    width: 130px;
    height: 30px;
    margin: 4px;
    cursor: pointer;
    background: none;
    border: solid 1px rgb(28, 28, 28);
    border-radius: 2px;
    transition: 0.6s;
}

input:hover {
    background-color: rgb(28, 28, 28);
    color: white;
    transition: 0.6s;
}

